# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Data — events_dirty.csv мы коммитим, чтобы команда сразу могла запускать
# data/raw/*.csv          # ← оставляем закомментированным
data/ground_truth/*.csv   # ← это не коммитим, спойлер

# Virtualenv
.venv/
venv/
env/

# Local notes
notes.md
.scratch*

# Secrets
*.env
